extend templates/layout.pug

block title
  title Index title

block content
  .hero.is-primary.is-medium
    .hero-body
      .container
        h1.title  this is page body blablabla.......
        h2.subtitle blablabla.......